<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.childs.childsapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ChildApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.childs.childsapp.SpashUI"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsPreferencesActivity" />
        <activity android:name=".MainActivity" android:theme="@style/AppTheme.NoActionBar"  />

        <activity android:name=".LoginUI" />
        <activity android:name=".RegisterNewUserUI" />
        <activity android:name=".ProfileUI" />
        <activity
            android:name="com.childs.activity.posts.PostsListUI"
            android:label="@string/child_nuts_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.childs.activity.vaccination.VaccinationsUI"
            android:label="@string/child_nuts_title"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.childs.activity.posts.ShowPost" />
        <activity android:name="com.childs.activity.posts.NewPostUI" />
        <activity android:name="com.childs.activity.vaccination.VaccinationDetails" android:label="@string/child_nuts_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.childs.activity.vaccination.VaccinationsListUI" android:label="@string/child_nuts_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.childs.activity.report_child_health.ReportChildHealthDetailsUI" android:label="@string/report_child_health_form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.childs.activity.report_child_health.ReportChildHeathListUI" android:label="@string/report_child_health_form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.childs.chatbot.ChatBotUI" android:label="@string/chatbot_lbl" />

    </application>

</manifest>